.infrastructure-map{
    display: flex;
    position: relative;
}

.get-directions{
    position: absolute;
    bottom: 32px;
    left: 32px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(51, 60, 70, 0.15);
    padding: 14px 24px;
    white-space: nowrap;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(51, 60, 70, 1);
    border-radius: 50px;
}


.infrast-map-box {
    position: relative;
    width: 100%;
}
.infrast-map-cnt {
    max-width: 280px;
    width: 100%;
    border-radius: 40px;
    padding: 32px;
    z-index: 11;
    background: rgba(51, 60, 70, 1);

    position: absolute;
    top: 32px;
    left: 32px;
}


.infrast-map-cnt ul {
    gap: 16px;
}

.infrast-map-cnt li {
    gap: 8px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}


.map-icons {
    position: absolute;
    top: 270px;
    right: 16px;
    gap: 8px;
    z-index: 2;
}


.zoom-map-plus {
    background: rgba(51, 60, 70, 1);

    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 0 50% 50%;

    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.zoom-map-minus {
    background: rgba(51, 60, 70, 1);
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.icon-plus {
    content: url("../img/icons/plus.svg");
    width: 24px;
    height: 24px;
}

.icon-minus {
    content: url("../img/icons/minus.svg");
    width: 24px;
    height: 24px;
}

.check-li-act{
    width: 24px;
    height: 24px;
    transition: 0.3s;
    position: relative;
}


.ymaps-2-1-79-copyrights-pane {
    display: none !important;
}
.bs-point-circle{
    background: rgba(51, 60, 70, 1);

    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bs-point-custom{
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;

}
.bs-point-custom .title{
    border: 2px solid rgba(51, 60, 70, 1);;
    background: #FEFFFA;
    width: max-content;
    height: 40px;
    padding: 8px 24px;
    gap: 8px;
    border-radius: 44px;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    white-space: nowrap;
    display: none;
}
.bs-point-custom.hover .title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-icon {
    max-width: 24px;
    width: 100%;
    height: 24px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-icon img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0.3;
}

.map-cnt-info {
    width: 100%;

}
.infrast-map-cnt li span {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.infrast-map-cnt .map-act  span{
    color: #FFFFFF;
}
.infrast-map-cnt li .check-li-act:before{
    content: url("../img/icons/check.svg");
    position: absolute;
    left: 3px;
    top: 0;
    opacity: 0;
}
.infrast-map-cnt .map-act .check-li-act:before{
    opacity: 1;
}

.infrast-map-cnt .map-act .map-icon img {
    opacity: 1;
}

#map {
    width: 100%;
    height: 620px;
    border-radius: 40px;
    overflow: hidden;
}
#map iframe{
    width: 100%;
}


.map-all-object{
    display: none;
}


@media (max-width: 1399px){
    .infrast-map-cnt {
        max-width: 270px;
        padding: 24px;
        top: 24px;
        left: 24px;
    }
    .get-directions {
        bottom: 24px;
        left: 24px;
    }

}
@media (max-width: 1199px){


    .infrast-map-cnt {
        max-width: 259px;
        padding: 20px;
        top: 20px;
        left: 20px;
        border-radius: 24px;
    }
    #map {
        border-radius: 24px;
    }

}

@media (max-width: 767px){

    .map-all-object{
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: rgba(255, 255, 255, 1);
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
        height: 56px;
        border-radius: 50px;
        position: relative;
        margin-top: 16px;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 16px;
        gap: 8px;
    }
    .map-all-object:after {
        content: "";
        position: absolute;
        top: 16px;
        right: 16px;
        background-image: url(../img/icons/alt-arrow-left.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        transition: 0.3s;
    }
    .infrast-map-cnt{
        max-width: 100%;
        position: fixed;
        width: 100%;
        padding: 8px 16px 24px;
        height: auto;
        bottom: 0;
        top: auto;
        left: 50%;
        border-radius: 24px 24px 0 0;
        transform: translateY(130%) translateX(-50%);
        transition: transform 0.3s ease;
        z-index: 9992;
        background: #FEFFFA;
        gap: 18px;
    }
    .touchstart-open{
        transform: translateY(0%) translateX(-50%);
    }
    .infrast-map-cnt ul {
        gap: 0;
        margin-top: 8px;
    }
    .infrast-map-cnt li span {
        color: rgba(51, 60, 70, 1);
        font-weight: 400;
        font-size: 18px;
    }
    .infrast-map-cnt li .check-li-act:before {

        filter: brightness(0.5);
    }
    .infrast-map-cnt .map-act span {
        color: rgba(51, 60, 70, 1);
    }
    .map-icon img {
        opacity: 0.3;
        filter: grayscale(1);
    }
    .infrast-map-cnt .map-act .map-icon img {
        opacity: 1;
        filter: unset;

    }
    .infrast-map-cnt ul {
        gap: 4px;
    }
    .infrast-map-cnt li {
        padding: 16px;
        border-radius: 16px;
        transition: 0.3s;
    }
    .infrast-map-cnt li.map-act {
        background: rgba(244, 244, 244, 1);
    }
    .map-icons{
        display: none;
    }
    #map {
        height: 420px;
    }
    .get-directions {
        bottom: 16px;
        left: 16px;
        width: calc(100% - 32px);
    }
}
@media (max-width: 570px){
    .time-box span {
        font-size: 16px;
    }
    .time-label {
        font-size: 16px;
        line-height: 19px;
    }

    .timer-wrapper {
        padding: 24px 20px;
        gap: 22px;
    }
    #map {
        height: 400px;
    }
}